<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.mylib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mylib"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Sub_SearchBorrow"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sub_ViewBorrow"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Opt_ChooseBook"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sub_NewBorrow"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sub_SearchBook"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Opt_EditBook"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Opt_Upload"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sub_ViewBook"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sub_NewBook"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Act_Menu"
            android:exported="true" />
        <activity
            android:name=".Act_Register"
            android:exported="true" />
        <activity
            android:name=".Act_Login"
            android:exported="true" />
        <activity
            android:name=".Act_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>